.news {
	position: relative;
	left: 0;

	margin-bottom: 25px;
	padding: 15px;

	border: 1px solid #323e42;
	color: #323e42;
	background: #dce2e4;
	font-family: 'Special Elite', cursive;
}

.news-content.russian,
.news-content.ukrainian,
.news-content.bulgarian {
	font-family: 'Pangolin', cursive;
}

.news-content.greek {
	font-family: 'JetBrains Mono', monospace;
	font-weight: bold;
}

.news-header,
.news-footer {
	display: flex;
	align-items: stretch;

	margin-bottom: 15px;
	padding: 10px;
}

.news-header {
	justify-content: space-around;
	text-transform: uppercase;
	border-bottom: 1px solid #323e42;
}

.news-footer {
	justify-content: space-between;
}

.news-category {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: calc(50% - 30px);

	text-align: center;

	border-right: 1px solid #323e42;
}

.news-country {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: calc(50% - 30px);

	text-align: center;
}

.news-title {
	margin-bottom: 15px;
}

.news-title-text {
	display: inline;

	font-weight: bold;
	line-height: 30px;

	color: #323e42;
	text-transform: uppercase;
}

.news-title-icon {
	margin-right: 15px;
	position: relative;
	top: 5px;

	color: #323e42;
}

.news-image-wrapper {
	width: 100%;
	margin: 0 auto 15px;

	line-height: 0;
	text-align: center;
}

.news-image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto 15px;
	border: 1px solid #323e42;

	/* border-radius: 5px; */
}

.news-description {
	margin-bottom: 15px;
	padding: 10px;

	line-height: 30px;

	border-bottom: 1px solid #323e42;
}

.news-date {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.news-creators {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
