.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 180px;
  min-height: 50px;

  margin: 0 5px 15px;
  padding: 8px 16px;

  line-height: 1rem;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  font-weight: bold;
  color: #323e42;

  background: #fff;
  border: 1px solid;
  border-color: #323e42;
  border-radius: 3px;

  cursor: pointer;

  box-shadow: 12px 15px 10px -5px #718b93;

  transition: box-shadow ease-in-out 0.2s, color ease-in-out 0.2s;
}

.button-without-text {
  width: 54px;
  padding: 0;
}

.button:hover,
.button:focus-visible,
.button-active {
  color: #e0004d;
  border-color: #e0004d;

  outline: none;

  box-shadow: 0px 0px 0px 0px #718b93;
}

.button-component-icon {
  display: block;
  margin-right: 8px;
  margin-bottom: 8px;
}

.button-image-icon {
  display: block;
  width: 35px;
  margin-bottom: 5px;
}

.button-text {
  margin-left: 10px;
}
