.search-bar {
	display: flex;
	align-items: center;

	width: 100%;
}

.search-icon {
	margin: 0 15px;
}

.search-input {
	width: 70%;
	padding: 5px 5px 0;

	font-family: 'Koulen', cursive;
	color: #707070;

	border: none;
	background-color: #f3f3f3;
}

.search-input:focus {
	outline: none;
}
