.link {
	position: relative;
	margin: 0 7px;
}

.link:after {
	position: absolute;
	content: "";
	background-color: #e0004d;
	transition: width ease-in-out .3s, height ease-in-out .3s;
}

.link-add-text {
	margin-left: 15px;

	line-height: 1;
	vertical-align: middle;
}

/* Modification */
/* ************************** */
.topbar-link {
	font-weight: bold;
	text-transform: uppercase;
}

.topbar-link:after {
	width: 0;
	height: 1px;
	bottom: -2px;
	left: 50%;
	transform: translate(-50%, 0);
}

.topbar-link:hover:after,
.topbar-link:focus:after,
.topbar-link:active:after {
	width: 100%;
}
/* ************************** */
.logo:after {
	width: 0;
	height: 1px;
	bottom: 7px;
	left: 50%;
	transform: translate(-50%, 0);
}

.logo:hover:after,
.logo:focus:after,
.logo:active:after {
	width: 80%;
}
/* ************************** */
.icon:after,
.profile-image-container:after,
.sidebar-friend-image-container:after {
	width: 1px;
	height: 0;
	bottom: 50%;
	left: -4px;
	transform: translate(50%, 50%);
}

.icon:hover:after,
.icon:focus:after,
.icon:active:after,
.profile-image-container:hover:after,
.profile-image-container:focus:after,
.profile-image-container:active:after,
.sidebar-friend-image-container:hover:after,
.sidebar-friend-image-container:focus:after,
.sidebar-friend-image-container:active:after  {
	height: 100%;
}
/* ************************** */
