.no-api-key{
	text-align: left;
}

.no-api-key-title,
.no-api-key-subtitle,
.no-api-key-description-list {
	margin-bottom: 30px;
}

.no-api-key-description-list {
	margin-left: 15px;
}

.no-api-key-description-list-item {
	margin-bottom: 5px;
}
