.api-key-input-title,
.api-input-description-section {
	margin-bottom: 35px;
}

.api-key-input {
	width: 100%;
	height: 40px;

	padding: 10px;

	border: 1px solid;
	border-radius: 5px;
	border-color: #707070;

	font-family: 'Koulen', cursive;
	font-size: 20px;
	color: #707070;

	transition: color ease-in-out 0.3s, border-color ease-in-out 0.3s;
}

.api-key-input:hover, .api-key-input:focus {
	color: #e0004d;
	border-color: #e0004d;

	outline: none;
}
