.sidebar {
	flex: 2;
	height: calc(100vh - 80px);

	padding: 30px 15px;

	position: relative;
	z-index: 10;

	background: #dfdfdf;
	box-shadow: 7px 15px 7px -5px #707070;

	overflow-y: auto;

	color: rgba(0, 0, 0, 0);
	transition: color .3s ease;
}

.sidebar:hover {
	color: rgba(0, 0, 0, 0.3);
}

.sidebar hr {
	margin-bottom: 30px;
}

.sidebar-nav {
	list-style: none;

	margin-bottom: 30px;
}

.sidebar-nav-item {
	display: flex;
	align-items: center;

	margin-bottom: 10px;
}

.sidebar-friend {
	display: flex;
	align-items: center;
}

.sidebar-friend-image-container {
	display: flex;
	align-items: center;

	margin-bottom: 15px;
}

.sidebar-friend-image {
	display: block;

	height: 40px;

	border-radius: 50%;
	border: 1px solid #707070;

	background: #f3f3f3;
	box-shadow: 4px 1px 3px 1px rgba(243, 243, 243, 0.57);
}
