.sidebar {
	flex: 3;
	height: calc(100vh - 80px);

	padding: 30px 15px;

	position: relative;
	z-index: 10;

	background: #dfdfdf;
	box-shadow: 7px 1px 7px -4px #707070;

	overflow-y: auto;

	color: rgba(0, 0, 0, 0);
	-webkit-text-fill-color: black;
	transition: color .3s ease;
}

.sidebar:hover {
	color: rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar,
.sidebar::-webkit-scrollbar-thumb {
	width: 26px;
	border-radius: 13px;
	background-clip: padding-box;
	border: 10px solid transparent;
}

.sidebar::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
	border: 7px solid transparent;
}

.sidebar hr {
	margin-bottom: 30px;
}

.sidebar-nav {
	list-style: none;

	margin-bottom: 30px;
}

.sidebar-nav-item {
	display: flex;
	align-items: center;

	margin-bottom: 10px;
}

.sidebar-friend {
	display: flex;
	align-items: center;
}

.sidebar-friend-image-container {
	display: flex;
	align-items: center;

	margin-bottom: 15px;
}

.sidebar-friend-image {
	display: block;

	height: 40px;

	border-radius: 50%;

	background: #f3f3f3;
	box-shadow: 4px 1px 3px 1px rgba(243, 243, 243, 0.57);
}
