.sidebar {
	flex: 3;
	height: calc(100vh - 80px);

	padding: 30px 15px;

	position: relative;
	z-index: 10;

	background: #dfdfdf;
	-webkit-box-shadow: 7px 1px 7px -4px #707070;
	box-shadow: 7px 1px 7px -4px #707070;
}

.sidebar hr {
  margin-bottom: 30px;
}

.sidebar-list {
	list-style: none;

  margin-bottom: 30px;
}

.sidebar-list-item {
	display:flex;
  align-items:center;

  margin-bottom: 10px;
}

.sidebar-list-item-text{
  margin-left: 15px;

  line-height: 1;
  vertical-align: middle;
}
