.message {
	margin: 15px 0;

	font-family: 'Indie Flower', cursive;

	transition: box-shadow ease-in-out 0.2s, left ease-in-out 0.2s;
}

.message-title {
	text-align: center;
}

.message-icon{
	display: block !important;
	margin: 15px auto;
}

.message-text {
	margin: 15px auto;
	text-align: center;
}
