.message {
  margin: 15px 0;

  font-family: 'Indie Flower', cursive;

  transition: box-shadow ease-in-out 0.2s, left ease-in-out 0.2s;
}

.message-title {
  text-align: center;
  word-break: break-word;
}

.message-icon {
  display: block !important;
  margin: 15px auto;
}

.message-text {
  margin: 15px auto;
  text-align: center;
}

.info {
  background-color: #dff3d5;
}

.warning {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #323e42;

  background-color: #fff4bd;
}
