.news-card {
	position: relative;
	left: 0;

	margin-bottom: 25px;
	padding: 15px;

	border: 1px solid #323e42;
	color: #323e42;
	background: #dce2e4;
	font-family: 'Special Elite', cursive;
}

.news-card-highlight {
	background-color: #fff4bd;
}

.news-card-content.russian,
.news-card-content.ukrainian,
.news-card-content.bulgarian {
	font-family: 'Pangolin', cursive;
}

.news-card-content.greek {
	font-family: 'JetBrains Mono', monospace;
	font-weight: bold;
}

.news-card-header,
.news-card-footer {
	display: flex;
	align-items: stretch;

	margin-bottom: 15px;
	padding: 10px;
}

.news-card-header {
	justify-content: space-around;
	text-transform: uppercase;
	border-bottom: 1px solid #323e42;
}

.news-card-footer {
	justify-content: space-between;
}

.news-card-category {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: calc(50% - 30px);

	text-align: center;

	border-right: 1px solid #323e42;
}

.news-card-country {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: calc(50% - 30px);

	text-align: center;
}

.news-card-title {
	margin-bottom: 15px;
}

.news-card-title-text {
	display: inline;

	font-weight: bold;
	line-height: 30px;

	color: #323e42;
	text-transform: uppercase;
}

.news-card-title-icon {
	margin-right: 15px;
	position: relative;
	top: 5px;

	color: #323e42;
}

.news-card-image-wrapper {
	width: 100%;
	margin: 0 auto 15px;

	line-height: 0;
	text-align: center;
}

.news-card-image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto 15px;
	border: 1px solid #323e42;
}

.news-card-description {
	padding: 10px;
	margin-bottom: 20px;

	line-height: 30px;

	border-bottom: 1px solid #323e42;
	word-break: break-all;
}

.news-card-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #323e42;
}

.news-card-controls .link {
	min-width: 40%;
	margin-bottom: 15px;
	justify-content: center;
}

.news-card-full-text {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #323e42;
	word-break: break-all;
}

.news-card-date {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.news-card-creators {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
