.news {
	position: relative;

	margin-bottom: 25px;
	padding: 15px;

	border: 1px solid #707070;
	border-radius: 5px;

	color: #707070;

	background-color: #dedede;
	box-shadow: 7px 15px 7px -5px #707070;
}

.news-header {
	display: flex;
	align-items: center;
	justify-content: space-around;

	margin-bottom: 15px;
	padding: 10px;

	text-transform: uppercase;

	border-bottom: 1px solid #707070;
}

.news-category {
	width: 50%;

	text-align: center;

	border-right: 1px solid #707070;
}

.news-country {
	width: 50%;

	margin: 0 auto;

	text-align: center;
}

.news-title {
	margin-bottom: 15px;
}

.news-title-text {
	display: inline;

	font-weight: bold;
	line-height: 30px;

	color: #3f3f3f;
	text-transform: uppercase;
}

.news-title-icon {
	margin-right: 15px;

	color: #82dbd8;

	border: 1px solid #707070;
	border-radius: 50%;
}

.news-image {
	display: block;
	max-width: 100%;
	margin: 0 auto 15px;

	border-radius: 5px;
}

.news-text {
	margin-bottom: 15px;
	padding: 10px;

	line-height: 30px;

	border-bottom: 1px solid #707070;
}
