@import-normalize;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Noto Serif', serif;
	font-size: 16px;
	color: #3f3f3f;
}

a,
a:visited {
	text-decoration: none;
	color: #3f3f3f;
}

.container-flex {
	display: flex;
	justify-content: space-around;
}
