.note-button {
    display: inline-flex;
    position: relative;
    top: -0.35em;

    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;

    background-color: #eaeaea;
    border-radius: 50%;
}
